# add your sources here, each remote:folder/on/remote per line

# remove the # from the following line to delete books that no longer exist
# on the sync source (uses "rclone sync" instead of "rclone copy")
#SYNC

# remove the # from the following line to uninstall Kobo Rclone
#UNINSTALL
